body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0;
    background-color: #FFFFFF
}

.logo h1 {
    font-family: Cooper Black;
    font-size: 48px;
    font-weight: normal;
    color: #254B29;
    margin-left: 80px;
}

.nav {
    margin-left: 150px; /* Adjust margin as needed */
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin: 0 10px;
}

.nav ul li a {
    font-family: Candara; /* Set font family */
    font-size: 32px; /* Set font size */
    text-decoration: none;
    color: #254B29; /* Adjust color as needed */
}

.search-button {
    position: absolute;
    top: 5;
    right: 330px;
    /* padding: 5px; */
    border: none;
    background-color: transparent;
    margin-left: 2px;
    outline: none; /* Remove the outline */
    /* cursor: pointer; */
}

.talk-to-us-button {
    background-color: #FFFFFF; /* Green color */
    border: 2px solid green; /* Add a 2px solid green border */
    color: black;
    /* border: none; */
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold;
    border-radius: 5px; /* Add rounded corners */
    margin-left: 200px;
}

.login {
    font-family: Candara;
    font-size: 24px;
    text-decoration: none;
    color: #254B29;
    padding: 10px 20px;
    border: none;
    background-color: transparent; /* Remove background color */
    cursor: pointer;
    position: relative;
    left: 20px; /* Adjust margin as needed */
    font-weight: bold;
}

.hero {
    height: 100vh;
    background-image: url('Fibi VII 2.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-size: cover;
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 40px; /* Adjust padding as needed */
    z-index: 1;
}

.hero-content {
    /* text-align: center; */
    color: white;
    margin-top: -120px; /* Adjust margin as needed */
    margin-left: -400px;
}

.hero-content h2 {
    font-family: Cooper Black;
    font-size: 32px;
    color: #254B29;
    line-height: 1.2; /* Adjust line height for h2 */
    max-width: 600px; /* Set a maximum width for h2 */
}

.hero-content p {
    font-family: Candara;
    font-size: 32px;
    color: #212121;
    line-height: 1.5; /* Adjust line height for p */
    max-width: 800px; /* Set a maximum width for p */
}

.input-button-container {
    display: flex;
    align-items: center;
}

.email-input {
    width: 500px;
    padding: 20px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-family: Arial;
    font-size: 24px;
    placeholder-position: start; /* Align placeholder to the start (left) */
}

.get-started-button {
    padding: 20px 50px;
    background-color: #254B29;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: Arial;
    font-size: 24px;
}

.watch-video-button {
    padding: 10px;
    background-color: transparent;
    color: #254B29;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-family: Arial;
    font-size: 18px;
    margin-top: 15px;
}

.watch-video-button i {
    /* margin-top: 10px; */
    margin-right: 20px; /* Adjust margin as needed */
}

.watch-video-button span {
    font-weight: lighter;
}